apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "terrace-of-seeds.fullname" . }}-config
data:
  serverconfig.txt: |
    {{- if not .Values.terraria.initContainer.enabled }}
    autocreate={{ .Values.terraria.autoCreate | default 3 }}
    {{- if .Values.terraria.seed }}
    seed={{ .Values.terraria.seed }}
    {{- end }}
    {{- end }}
    worldpath=/terraria/{{ .Values.terraria.worldPath | default "world" | trimPrefix "/"}}
    maxplayers={{ .Values.terraria.maxPlayers | default 8}}
    port=7777
    {{- if .Values.terraria.password }}
    password={{ .Values.terraria.password }}
    {{- end }}
    secure={{ .Values.terraria.secure | default 1 }}
    language={{ .Values.terraria.language | default "en-US" }}
