[Unit]
Description=Terraria Server - Running in tmux - Use systemctl status terraria to find the session name.
After=network.target

[Service]
Type=forking
User=$TERRARIA_USER
WorkingDirectory=$TERRARIA_HOME
ExecStart=$TERRARIA_HOME/terrace-of-seeds/systemd/terraria_server.sh start
ExecStop=$TERRARIA_HOME/terrace-of-seeds/systemd/terraria_server.sh stop
ExecReload=$TERRARIA_HOME/terrace-of-seeds/systemd/terraria_server.sh restart
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
