apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "terrace-of-seeds.fullname" . }}-world
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  storageClassName: {{ .Values.persistence.storageClass }}

